.ikon {
    height: 60px;
    width: 60px;
    background-size: contain;
    background-size: cover;
    background-size: 100%;
}
.margin10 {
    margin: 10px 20px 20px;
}
.ikon-filter {
    background-image: url(../BILDER/IKON/add-to-basket.png);
}
.ikon-menu {
    background-image: url(../BILDER/IKON/menu.png);
}
.ikon-menu-white {
    background-image: url(../BILDER/IKON/menuwhite.png);
}
.ikon-cart {
    background-image: url(../BILDER/IKON/add-to-basket.png);
}
/* ======== */
#ikon-cart {
    background-image: url(../BILDER/IKON/cart-1.svg);
    fill: blue;
}
#ikon-cart {
    background-image: url(../BILDER/IKON/menu.svg);
}