* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
/*==============
    Generelt
==============*/
body {
    background-color: dimgray;
    height: 100vh;
    display: grid;
    place-items: center;
}
/*=================
    X
=================*/

.modal-exit-cross p{
    grid-area: X;
    color: white;
    font-family: 'Spartan', 'Montserrat', 'roboto', sans-serif;
    font-weight: 600;
    font-size: 2em;
    cursor: pointer;
    margin: .4em;
    position: absolute;
    right: 0;
    padding-right: 10vw;
}

/*=================
    3. Modal
=================*/
/* 3.1 Modal typography */
.modal-item-header {
    font-family: 'Spartan', 'Montserrat', 'roboto', sans-serif;
    font-weight: 900;
    font-size: 4vw;
    color: rgba(255, 255, 0, 0.95);
}
.modal-item-underline {
    font-family: 'Spartan', 'Montserrat', 'roboto', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.85);
}
/* 3.2 Modal */
.menu {
    display: flex;
    flex-direction: column;
}
.modal {
    background-color: rgba(0, 0, 0, 0.45);
    height: 100vh;
    width: 100vw;
    border-radius: 20px;
    display: grid;
    place-items: center;
}
.modal-container {
    margin: 50px;
    height: 80vh;
    width: 80vw;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2vh;
    grid-template-areas:
    "sale sale cart "
    "new new cart"
    "iphone android sound"
    "iphone android sound"
    ;
}
/* modal-item */
.menu-item {
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.95);
    cursor: pointer;
    background-size: contain;
    background-size: cover;
    
}
.menu-item-iphone{
    grid-area: iphone;
    background-image: url(../BILDER/GIF/iphone-still2.gif);
    background-size: 140%;
    background-position: bottom left;
    white-space: nowrap;
}
.menu-item-iphone:hover,
.menu-item-iphone:active {
    background-image: url(../BILDER/GIF/iphoneGifShort.gif);
    background-size: 143%;
    transition: 350ms;
    padding-top: 34px;
}
.menu-item-android{
    grid-area: android;
    background-image: url(../BILDER/GIF/samsungstill.gif);
    background-position: bottom left;
    background-size: 150%;
}

.menu-item-android:hover,
.menu-item-android:active {
    background-size: 150%;
    transition: 300ms;
    background-image: url(../BILDER/GIF/evenbettersamsung.gif);
    padding-top: 34px;
}
.menu-item-sound{
    grid-area: sound;
}
.menu-item-sound:hover,
.menu-item-sound:active{
    /* background-image: url(../BILDER/GIF/rickastley.gif);
    background-position: center center;
    background-size: 150%; */
    padding-top: 34px;
    transition: 300ms;
}
.menu-item-new{
    grid-area: new;
    background-image: url(../BILDER/GIF/NewStill.gif);
    background-position: center center;
    background-size: 19%;
}
.menu-item-new:hover,
.menu-item-new:active {
    background-image: url(../BILDER/GIF/new.gif);
    background-size: 19.5%;
    transition: 300ms;
}
.menu-item-sale{
    grid-area: sale;
}
.menu-item-sale:hover,
.menu-item-sale:active {
    /* background-image: url(../BILDER/GIF/sale.gif); 
    background-position: center center;
    background-size: 120%;*/
    padding-left: 36px;
    transition: 300ms;
}
.menu-item-cart {
    grid-area: cart;
    display: grid;
    grid-template-columns: auto 1fr;
}
.menu-item-cart img{
    height: 3em;
    width: 3em;
}
.menu-item-cart:hover {
    padding-top: 34px;
    transition: 300ms;
}
