*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
body {
    background-color: rgba(0, 0, 0, 0.05);
}
.linkdesign1{
    color: rgba(0, 0, 0, 0.80);
    text-align: right;
    font-size: 1.5em;
}
.big-header-container {
    height: 100vh;
    background-color: #d6001c;
    display: flex;
    flex-direction: column;
}
/* header-top */
.big-header-top {
    height: 30%;
}
.header-ikon {
    position: absolute;
    padding: 30px;           /* help */
}
.header-ikon img {
    height: 60px;
    width: 60px;        /* help */
}
.menu {
    left: 0;
}
.search {
    right: 0;
}
/* header text */
.big-header-center {
    height: 40%;
}
.big-header-text{
    display: flex;
    flex-direction: column;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.big-header-text h1, .big-header-text h3{
    color: white;
    text-align: center;
}
.big-header-text h1{
    font-size: 8em;
    text-align: center;
}
.big-header-text h3 {
    font-size: 2em;
}
/* (header) ikoner */
.big-header-media{
    height: 30%;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    bottom: 0;
}
.header-media-ikon img{
    height: 28px;
    width: 28px;
    padding-right: 10px;
}


/* home main */
.home-main {
    height: 60vh;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    background-color: lightgray;
}
.home-main-left {
    width: 40%;
}
.home-main-right {
    width: 60%;
}
.home-main-dots {
    width: 40%;
}
.home-main-dots ul li {
    font-size: 150px;
    color: rgba(0, 0, 0, 0.25);
    text-align: center;
}
.home-main-bilde {
    background-color: lightgreen;
    width: 60%;
    background-image: url("BILDER/statuewithphone2.jpg")
}
/* home main right */
.home-main-right-top{
    display: flex;
    flex-direction: row;
    background-color: lightpink;
    padding-left: 10px;
}
.home-main-nav {
    width: 50%;
}
.home-main-nav li {
    list-style: none;
}
.home-main-nav li a {
    text-decoration: none;
}
.home-main-nav li a p{
    color: rgba(0, 0, 0, 0.80);
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 40px;
}
.home-main-text {
    padding-right: 40px;
    width: 50%;
}
.home-main-text p {
    color: rgba(0, 0, 0, 0.80);
    text-align: right;
    font-size: 1.5em;
}
.home-main-buybtn a{
    color: rgba(0, 0, 0, 0.80);
    text-decoration: none;
}
.home-main-buybtn{
    background-color: aqua;
}

/* produkter (navigasjon etc) */ 
.header-produkter {
    width: 100%;
    height: 42vh;
}
.header-produkter-top {
    height: 35vmin;
    display: flex;
}
.header-produkter-top-logo h1 {
    font-size: 15vmin;
}
.header-produkter-top-logo h1 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.90);
}
/* mininav */
.header-produkter-top-mininav {
    position: absolute;
    right: 0;
    padding-right: 3%;
    padding-top: 3%;
}
.header-produkter-top-mininav ul{
    list-style: none;
}
.header-produkter-top-mininav a{
    color: rgba(0, 0, 0, 0.90);
    text-decoration: none;
    font-size: 4vmin;
}


/* under logo (header produkt) */

.header-produkter-nav ul {
    display: flex;
    justify-content: space-evenly;
}
.header-produkter-nav li {
    list-style: none;
}
.header-produkter-nav a {
    color: rgba(0, 0, 0, 0.90);
}