/*==============
   Table of contents
    1. General
        1.1 :root * etc.
        1.2 Typgraphy
    2.Header
    3.
    4.

==============
   1. General
==============*/
    /* 1.1 :root * etc. */
    :root {
        /* colors */
            /* dark */
            --dark-0: black;
    
            --dark-1: rgba(0,0,0,0.95);
            --dark-2: rgba(0,0,0,0.85);
            --dark-3: rgba(0,0,0,0.35);
            /* gray-ish */
            --gray-1: rgba(255,255,255,0.4);
            /* light */
            --light-1: rgba(255,255,255,0.9);
            --light-2: rgba(255,255,255,0.8);
            --light-3: rgba(255,255,255,0.7);
            /* main */
            --maincolor: blue;
            /* others */
            --iphone-light: rgba(221,237,250,0.95);
            --iphone-dark: rgba(119,141,175,0.95);
        /* sizes */
            /* top menu */
            --top-menu-total-height: 8vh;
            --top-menu-item-height: 6vh;
            /* fontsixe */
            --top-menu-fontsize-1: 3vh;
    }
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    list-style: none;
}
body {
    background-color: var(--light-1);
}
    /* 1.2 Typography */
.text-type-header {
    font-size: 18vw;
}
.text-type-underline {
    font-size: 1.4vw;
}
.text-type-article-header {
    font-size: 5vw;
    font-weight: 500;
    color: var(--dark-2);
}
.text-type-article-paragraph {
    font-size: 1vw;
    font-weight: 500;
    color: var(--dark-3);
    padding: 15px 15px 15px 0;
}
.text-type-linkstyle-large {
    font-weight: 600;
    color: var(--maincolor);
}
.text-type-linkstyle-large:hover {
    color: var(--maincolor);
    padding-left: 3%;
    transition: 300ms cubic-bezier(0.83,-0.15, 0.79, 2.07);
}
.text-type-linkstyle-large:active {
    color: violet;
}
.text-type-linkstyle-small {
    padding-top: 10vh;
    font-weight: 900;
    text-decoration: none;
    color: var(--dark-0);
    font-size: 1.1vw;
    cursor: pointer;
}
.text-type-poster-header {
    font-size: 4vw;
    font-family: 'Spartan', 'Montserrat', sans-serif;
    font-weight: 900;
}
.text-type-poster-underline {
    font-size: 2vw;
    font-family: 'Spartan', 'Montserrat', sans-serif;
    font-weight: 600;
}
/*==============
    2. top-header
==============*/
.header-container {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--light-1); /* --dark-0 */
}
header {
    display: flex;
    flex-direction: column;
    color: var(--maincolor);
    font-weight: 900;
    text-align: center;
}
/*==============
    2/3. top-menu
==============*/
.top-menu {
    width: 100%;
    height: var(--top-menu-total-height);
    background: var(--gray-1);

    display: grid;
    gap: 0 2vw;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    gap: 2vw;
    grid-template-areas:
    "menu-left menu-right"
    ;

    justify-content: center;

}
/* =======================
==========================
========================== */


.top-menu-left {
    grid-area: menu-left;
    height: var(--top-menu-total-height);
}
.top-menu-logo {
    display: grid;
    place-items: center;
}
.top-menu-logo img{
    height: var(--top-menu-item-height);
    width: auto;
}
/*  */
.top-menu-right {
    grid-area: menu-right;
    display: grid;
    gap: 0 2vw;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    gap: 2vw;
    grid-template-areas:
    "menu-cart menu-burger"
    ;
}
.top-menu-item{
    
    padding: calc(calc(var(--top-menu-total-height) - var(--top-menu-item-height))/2) 0;
    height: var(--top-menu-item-height);
    
    display: grid;
    place-items: center;
}
.top-menu-item div {
    
    fill: var(--maincolor);
    max-height: var(--top-menu-item-height);
}
.top-menu-shoppingcart {
    grid-area: menu-cart;
    background: url(../BILDER/IKON/cart-1.svg);
    max-width: var(--top-menu-item-height);
}
.top-menu-shoppingcart:hover{
    filter: invert(8%) sepia(100%) saturate(6598%) hue-rotate(246deg) brightness(105%) contrast(142%);
}

.top-menu-hamburger {
    grid-area: menu-burger;
    max-width: var(--top-menu-item-height);
}

/*==============
    3. Frontpage
==============*/
.frontpage-container {
    display: grid;
    place-items: center;
}
.frontpage {
    display: flex;
    width: 80vw;
}
.frontpage-image {
    background-image: url(../BILDER/gradient.png);
    width: 50%;
    background-size: cover;
    background-position: center;
}
.frontpage-nav-producttype {
    width: 50%;
    display: grid;
    place-items: center;
    font-family: 'Spartan', 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--dark-1);
    font-size: 7vw;
}
.frontpage-nav-producttype ul {
    padding: 2vh 2vw;
    list-style: none;
}

/*==============
    4. frontpage article
==============*/
.frontpage-article {
    height: 40vh;   
}
/*==============
    5. frontpage poster
==============*/
.frontpage-poster-container-container {
    width: 100%;
    height: 60vh;
    display: grid;
    place-items: center;
    /* background-color: green; */
}
.frontpage-poster-container {
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas:
    "frontpage-poster-left frontpage-poster-right";
}
.frontpage-poster {
    padding: 3vh 3vw;
    border-radius: 10px;
}
.frontpage-poster:hover {
    padding-left: 4vw;
    padding-top: 3.5vh;
    transition: 300ms;
    cursor: pointer;
}
.frontpage-poster-left { 
    grid-area: frontpage-poster-left;
    background-image: url(../BILDER/oneplus8pro2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
}
    
.frontpage-poster-right {
    grid-area: frontpage-poster-right;
    background-image: url(../BILDER/Product-oneplus9pro-morningmist-1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
}
    
    /* =========
    brandheader
    ========== */


.frontpage-brandheader-container {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    background-color: var(--light-1);
    position: relative;
}
.frontpage-brandheader-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    transition: all 100ms;
    overflow: hidden;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single {
    width: 25%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: 200ms;
    display: grid;
    place-items: center;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single:nth-child(1) {
    background: url(../BILDER/Apple-Poster1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single:nth-child(2) {
    background: url(../BILDER/Samsung-poster1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single:nth-child(3) {
    background: url(../BILDER/OnePlus-poster2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single:nth-child(4) {
    background: url(../BILDER/Xiaomi-poster1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single:hover {
    width: 60%;
    cursor: pointer;
}


/* branHeader-logo */

.frontpage-brandheader-logo {
    max-width: 250px;
    max-height: 250px;
    background-color: var(--gray-1);
    padding: 2vh 2vw;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
.frontpage-brandheader-logo img {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}

/* =========
    ultimate-frontage
    ========== */
.ultimate-frontage {
    height: 100vh;
    width: 100%;
    background: var(--dark-0);
}

.landingsplass-navigasjon {
    height: var(--top-menu-total-height);
    display: flex;
    justify-content: space-around;
    
}
.landingsplass-navigasjon-logo img{
    height: var(--top-menu-item-height);
    width: var(--top-menu-item-height);
}
.landingsplass-navigasjon-logo img:hover{
    cursor: pointer;
}
.landingsplass-navigasjon-links-container{
    display: grid;
    place-items: center;
    width: 50%;
    height: 100%;
}
.landingsplass-navigasjon-links-container ul{
    display: flex;
}
.landingsplass-navigasjon-links-container li + *{
    list-style-type: disc;
    color: var(--light-1); /* farger list-type (rundinger) */
    margin-left: 2em;
}
.landingsplass-navigasjon-links-container a{
    color: var(--light-1);
    font-size: var(--top-menu-fontsize-1);
    text-decoration: none;
    /* padding: calc(calc(var(--top-menu-total-height)- var(--top-menu-fontsize-1))/2) 2vw; */
}
.landingsplass-navigasjon-links-container a:hover {
    color: var(--light-3);
}
.landingsplass-navigasjon-ikoner {
    width: 30%;
}
/* ===============
landingsplass   -------------------
================== */

.landingsplass {
    display: flex;
    height: 60vh;
}
.landingsplass:hover {
    cursor: default;
}

/* ===============
landingsplass-tekst
================== */

.landingsplass-tekst {
    width: 50vw;
    background: black;
    color: var(--iphone-light);

    display: grid;
    place-items: center;
    text-align: left;

    
}
.landingsplass-tekst div {
    padding: 5vh 5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 0px 0px;
    font-weight: 300;
    grid-template-areas:
    "ingress"
    "overskrift"
    "paragraf"
    "knapper";
}
.landingsplass-ingress {
    grid-area: ingress;
    padding: 0 0 2vh;
    font-family: 'Spartan', 'Montserrat', Arial, Helvetica, sans-serif;
}
.landingsplass-tekst h1 {
    grid-area: overskrift;
    padding: 0 0 2vh;
    font-family: 'Spartan', 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3.4em;
}
.landingsplass-paragraf {
    grid-area: paragraf;
}
.landingsplass-tekst div div {
    grid-area: knapper;
    display: flex;
    padding: 3vh 0;
}
.landingsplass-button {
    font-size: 1.2em;
    padding: 3% 8%;
    text-decoration: none;
    font-weight: 400;
}
.landingsplass-button-styled {
    color: var(--dark-1);
    background: var(--iphone-dark);
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 1000px; /*  lager pill-shape */
    flex-wrap: nowrap;
}
.landingsplass-button-styled:hover {
    background: var(--iphone-light);
    transition: 100ms;
}
.landingsplass-button-notstyled {
    color: var(--light-1);
}
.landingsplass-button-notstyled:hover {
    color: #81c639; /* Android-grønn */
    transition: 100ms;

    /* :active -> blå????? */
}

/* ===============
landingsplass-bilde
================== */
.landingsplass-bilde {
    width: 50%;
    background: #000;
    display: grid;
    place-items: center;
}
.landingsplass-bilde img {
    width: 100%;
    animation: appear-from-bottom 6000ms ease forwards;
    
    
}


/* =============================

 Keyframes Keyframes Keyframes

==============================*/
.slideinleft {
    animation: slide-in-from-left 500ms cubic-bezier(0.56, 0.97, 0.71, 1) forwards;
}
.slideinleft-2 {
    animation: slide-in-from-left-2 600ms cubic-bezier(0.56, 0.97, 0.71, 1) forwards;
}
.slideinright {
    animation: slide-in-from-right 500ms cubic-bezier(0.56, 0.97, 0.71, 1) forwards;
}
@keyframes slide-in-from-left {
    0% {
        transform: translateX(-20%);
      }
    100% {
    transform: translateX(0);
    }
}
@keyframes slide-in-from-left-2 {
    0% {
        transform: translateX(-25%);
      }
    100% {
    transform: translateX(0);
    }
}
@keyframes slide-in-from-right {
    0% {
        transform: translateX(20%);
      }
    100% {
    transform: translateX(0);
    }
}
@keyframes appear-from-bottom {
    0% {
        transform: translateY(8%);
        opacity: 0;
      }
    100% {
        transform: translateY(0);
        opacity: 0.8;
    }
}