* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    list-style: none;
}

.frontpage-brandheader-container {
    width: 100%;
    height: 100vh;
    max-height: 800px;
    background-color: whitesmoke;
    position: relative;
}
.frontpage-brandheader-wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    transition: all 100ms;
    overflow: hidden;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single {
    width: 25%;
    height: 100%;
    position: relative;
    text-align: center;
    transition: 200ms;
    display: grid;
    place-items: center;
    
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single:nth-child(1) {
    background: url(../BILDER/Apple-Poster1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single:nth-child(2) {
    background: url(../BILDER/Samsung-poster1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single:nth-child(3) {
    background: url(../BILDER/OnePlus-poster2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single:nth-child(4) {
    background: url(../BILDER/Xiaomi-poster1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.frontpage-brandheader-wrapper .frontpage-brandheader-single:hover {
    width: 60%;
    cursor: pointer;
}


/* Hero Brand-Logo */

.frontpage-brandheader-logo {
    max-width: 250px;
    max-height: 250px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2vh 2vw;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
.frontpage-brandheader-logo img {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
}

